<div class="main-container">
    <div class="article-container">
        {{#each article}}
             <p>{{text}}</p>
        {{/each}}
    </div>
    <div class="voltar">    
        <a href="/"><i class="fa-solid fa-chevron-left"></i> voltar para a home</a>
    </div>
</div>