<div class="main-container">
    <form action="/formURL" method="POST"> 

        <select value={{cContainer}} id="jornais" name="thiscontainer">

            {{#each newspapers}}
            <option value={{this.container}} id="thiscont">{{this.name}}</option>
            {{/each}}
        </select>

        <input type="text" name="url" placeholder="URL" required id="in" /> 

        <button type="submit" value="Submit" id="btn-submit-url">Remover<!-- <i class="fa-solid fa-arrow-right"></i> --></button> 

    </form> 
</div>

<div class="article-container">{{article}}</div>