@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&family=Sorts+Mill+Goudy&display=swap');

*{
	box-sizing: border-box;
}

body{
	background-color: #fff;
	font-family: 'Open Sans', sans-serif;
}

header{

	text-align: center;
}

header hr{

	width:100px;
	height: 1px;
    background-color: black;
    border: none;	
}

.main-container{

	max-width: 1000px;
	margin: 2em auto;
	min-height: 500px;
}

.main-container a, .redirect a{
	color: #ff8095;;
	text-decoration: none;
}

.banner{
	margin: 18em auto 3em;
	max-width: fit-content;
	text-align: initial;
	color: #000;
   	font-family: 'Open Sans', sans-serif;
   	font-weight: 500;
}

.banner h1{
	font-size:65px;
}

#bow-tie{

	width: 35px;
	height: 22px;
}

figure{
	margin-top: 3em;
	color: #000;
}


.fa-arrow-right{

	font-size: 15px;
}

.article-container{

	max-width: 800px;
	text-align: justify-all;
	padding: 1em;
	margin: 1.5em auto;
	font-family: 'Sorts Mill Goudy', serif;
	font-size: 20px;
	font-weight: 400;
}

.voltar{
	font-size: 14px;
	color: #ff8095;
	text-align: center;
}

.fa-chevron-left{
	font-size: 12px;
}

.form-container{
	text-align: center;
}

form{
	display: inline-flex;
	align-items: center;
	align-content: center;
}


form input{
	background-color: #fff;
	padding: 1em;
	border-color: #ff3355;
	border-style: solid;
	width: 500px;
	outline: none;
}

#btn-submit-url{

	color: #fff;
	background-color:#ff3355;;
	cursor: pointer;
	padding: 1em;
	border-color: #ff3355;;
	border-style: solid;
}

footer{

	text-align: center;
	color: #8c8c8c;
	margin-top: 3em;
}

footer a {

	text-decoration: none;
	color: #ff8095;
}

.fa-github-alt{

	margin-left: 0.2em;
}

@media (max-width: 800px){

	.banner{
		margin: 14em auto 3em;
		text-align: center;
	}

	.banner h1{
		font-size:30px;
	}

	form{
		display: inline-block;
	}

	#btn-submit-url{

		display: block;
		margin: 1em auto;
		width: 100%;
	}

	form input{
		margin-left: -0.4em;
		max-width: 300px;
	}

	.main-container{
		min-height: 350px;
	}
}

