@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;600&display=swap');

body{
	color: #fff;
	background-color: #252525;
	font-family: 'Open Sans', sans-serif;
}

.main-container{
	max-width: 800px;
	margin: 2em auto;
	text-align: center;
}

.main-container img{
	width: 80px;
	height: 80px;
}

#btn-submit-url{
	color: #252525;
	background-color: #FF8D29;
	border: 2px solid #FF8D29;
	border-radius: 5px;
	cursor: pointer;
	font-size: 18px;
}

.container-article{
	text-align: initial;
	padding: 1em;
	margin-top: 4em;
}

form{

	display: inline-flex;
	align-items: center;
	align-content: center;
}

form select{

	font-weight: bold;
	color: #262626;
	background-color: #ffa366;
	border: 2px solid #FF8D29;
	padding: 0.3em;
	border-radius: 5px;
}

form input{

	color: #fff;
	background-color: #252525;
	margin: 0 0.5em;
	padding: 0.3em;
	border: 2px solid #FF8D29;
	border-radius: 5px;
	width: 450px;
}

@media (max-width: 1000px){

	form input{
		max-width: 120px;
	}
}
